<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCL.raw" />
        <codeBase href="net45/SQLitePCL.raw.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>